# Incidence/New Case counts using two different methods of Urban/Rural groupings

### July 18, 2023

This script is the first of two scripts which calculates new case counts and county population for two methods of urban and rural groupings. This is accomplished by taking in a population dataset with 2020 population estimates for all counties in Wisconsin from the census bureau: https://www.census.gov/data/datasets/time-series/demo/popest/2020s-counties-total.html#par_textimage_70769902. 
The counties are grouped into the WISH method of urban/rural grouping which I refer to hereafter as "m1". I refer to "m2" as the urban/rural grouping from the NCHS Urban-Rural Classification Scheme for Counties. The total populations for these categories "m1_urban_pop", "m1_rural_pop", "m2_urban_pop", and "m2_rural_pop" are summed and stored for incidence calculations using COVID-19 historical dataset from the Department of Health Services of Wisconsin (DHS). https://data.dhsgis.wi.gov/datasets/wi-dhs::covid-19-historical-data-by-county-v2/about

Before incidence can be calculated, the dataset containing the COVID-19 historical information is used to sum the new case counts for each county per month and year from the column "POS_NEW_CP." The "POS_NEW_CP" column represents the confirmed positive new COVID-19 cases as well as the positive probable COVID-19 case. The county m1 and m2 assignments are made and then the total new case counts for these groups are summed. After summation, these values are divided by the m1 and m2 populations and multiplied by 10000 to represent the incidence per 10000 people.

In [268]:
import pandas as pd
import csv
import calendar
import datetime

In [269]:
# Define the "method 1" or "m1" urban and rural WI counties as 2013 NCHSUR Codes 1-4 being Metro or "urban"
# and 5-6 being Nonmetro or "rural"
m1_urban = ['Brown', 'Calumet', 'Chippewa', 'Columbia', 'Dane', 'Douglas', 'Eau Claire', 'Fond du Lac', 
            'Green', 'Iowa', 'Kenosha', 'Kewaunee', 'La Crosse', 'Marathon', 'Milwaukee', 'Oconto', 
            'Outagamie', 'Ozaukee', 'Pierce', 'Racine', 'Rock', 'St.Croix', 'Sheboygan', 'Washington', 
            'Waukesha', 'Winnebago']

m1_rural = ['Adams', 'Ashland', 'Barron', 'Bayfield', 'Buffalo', 'Burnett', 'Clark', 'Crawford', 
            'Dodge', 'Door', 'Dunn', 'Florence', 'Forest', 'Grant', 'Green Lake', 'Iron', 
            'Jackson', 'Jefferson', 'Juneau', 'Lafayette', 'Langlade', 'Lincoln', 'Manitowoc', 
            'Marinette', 'Marquette', 'Menominee', 'Monroe', 'Oneida', 'Pepin', 'Polk', 'Portage', 
            'Price', 'Richland', 'Rusk', 'Sauk', 'Sawyer', 'Shawano', 'Taylor', 'Trempealeau', 
            'Vernon', 'Vilas', 'Walworth', 'Washburn', 'Waupaca', 'Waushara', 'Wood']

In [270]:
# Define the "method 2" or "m2" urban and rural WI counties as 2013 NCHSUR Codes 1-3 being Metro or "urban"
# and 4-6 being Nonmetro or "rural"


m2_urban= ['Milwaukee',
'Kenosha',
'Ozaukee',
'Pierce',
'St.Croix', 
'Washington',
'Waukesha',
'Brown',
'Columbia',
'Dane',
'Douglas',
'Green',
'Iowa',
'Kewaunee',
'Oconto']

m2_rural = ["Calumet", "Chippewa", "Eau Claire", "Fond du Lac", "La Crosse", 
            "Marathon", "Outagamie", "Racine", "Rock", "Sheboygan", "Winnebago", 
            "Dodge", "Dunn", "Florence", "Grant", "Jefferson", "Lincoln", 
            "Manitowoc", "Marinette", "Menominee", "Portage", "Sauk", "Shawano", 
            "Walworth", "Wood", "Adams", "Ashland", "Barron", "Bayfield", "Buffalo", 
            "Burnett", "Clark", "Crawford", "Door", "Forest", "Green Lake", "Iron", 
            "Jackson", "Juneau", "Lafayette", "Langlade", "Marquette", "Monroe", 
            "Oneida", "Pepin", "Polk", "Price", 
            "Richland", "Rusk", "Sawyer", "Taylor", "Trempealeau", "Vernon", 
            "Vilas", "Washburn", "Waupaca", "Waushara"]

In [271]:
# store county population sizes in a dictionary and make a dataframe from the dictionary
popinput_file = '/Users/mavoeg/Desktop/SARS/Wisconsin/WI_Data_Counties/data/population/co-est2022_census_2023_07.csv'
pop_outputdict ={}
with open(popinput_file, "r") as popfile:
    for popline in popfile:
        
        popsplit_lines = popline.split(',')
        
        population = popsplit_lines[2].replace("\"","") + popsplit_lines[3].replace("\"","")
        

        popcounty_names = popsplit_lines[0].replace('\"','')
        popcounty = popcounty_names.split(' County')
    
        
        
        if len(popcounty[0]) == 0:
            pass
        if "St Croix" in popcounty[0]:
            popcounty_firstname = popcounty[0].replace('\"St Croix','St. Croix')
        else: 
            popcounty_firstname = popcounty[0].replace("\"", "")
            
        if popcounty_firstname not in pop_outputdict:
            pop_outputdict[popcounty_firstname] = {}
        if population not in pop_outputdict:
            pop_outputdict[popcounty_firstname] = {population}
            

pop_df = pd.DataFrame.from_dict(pop_outputdict, orient="index") # make a df from the dictionary
pop_df = pop_df.sort_index().sort_index(axis=0)  # Sort the index (county) and column names 
pop_df = pop_df.drop(["County"])
pop_df = pop_df.rename(index={'St Croix': 'St.Croix'})

print(pop_df)

                0
Adams       20675
Ashland     16018
Barron      46714
Bayfield    16233
Brown      268921
...           ...
Waukesha   407467
Waupaca     51791
Waushara    24549
Winnebago  171800
Wood        74197

[72 rows x 1 columns]

In [272]:
# assign urban and rural via the lists created earlier
pop_df['m1_urb_rur'] = pop_df.index.map(lambda popcounty: 'urban' if popcounty in m1_urban else 'rural')

pop_df['m2_urb_rur'] = pop_df.index.map(lambda popcounty: 'urban' if popcounty in m2_urban else 'rural')

pop_df = pop_df.reset_index().rename(columns={"index": "county", 0: "population"})
#pop_df = pop_df.drop([0])

print(pop_df['county'])

0         Adams
1       Ashland
2        Barron
3      Bayfield
4         Brown
        ...
67     Waukesha
68      Waupaca
69     Waushara
70    Winnebago
71         Wood
Name: county, Length: 72, dtype: object

The next chunk sums the urban and rural populations for both methods of urban and rural groupings.

In [273]:
# sum the population variables for each group
m1_rural_pop = pd.to_numeric(pop_df.loc[pop_df['m1_urb_rur']=='rural', 'population'], errors='coerce').fillna(0).sum()
m1_urban_pop = pd.to_numeric(pop_df.loc[pop_df['m1_urb_rur']=='urban', 'population'], errors='coerce').fillna(0).sum()
m2_rural_pop = pd.to_numeric(pop_df.loc[pop_df['m2_urb_rur']=='rural', 'population'], errors='coerce').fillna(0).sum()
m2_urban_pop = pd.to_numeric(pop_df.loc[pop_df['m2_urb_rur']=='urban', 'population'], errors='coerce').fillna(0).sum()

print(m1_rural_pop, m1_urban_pop, m2_rural_pop, m2_urban_pop)

1531989 4364282 2961867 2934404

In [274]:
# read in COVID-19 CDC data, using the "POS_NEW_CP" column for new case counts
# This column is the tabulation of confirmed new or probable cases of COVID-19
input_file = '/Users/mavoeg/Desktop/SARS/Wisconsin/WI_Data_Counties/data/COVID-19_Historical_Data_by_County_DATA.csv'
output_dict  = {}
with open(input_file, "r") as infile: 
    for line in infile:
        if "GEOID" in line:
            pass
        else:
            rpt_date = line.split(",")[0]
            location = line.split(",")[2]
            pos = line.split(',')[3]
           # print(location[-1] + "  " + pos)
            
           
            
            if len(location.split("/")) == 0:
                county = "unknown"
            else:
                county = location.split("/")[-1].strip()
          
            year = int(rpt_date.split("/")[-1])
            month = int(rpt_date.split("/")[0])
            month_abbr = calendar.month_abbr[month]
            year_month = month_abbr + "-" + str(year) 
            

            # make the dictionary 
            if location not in output_dict: 
                output_dict[location] = {}
            if year_month not in output_dict[location]:
                output_dict[location][year_month]= int(pos)
            else:
                output_dict[location][year_month] += int(pos)
                
            
            
          

inc_df = pd.DataFrame.from_dict(output_dict, orient="index") # make a df from the dictionary
inc_df = inc_df.sort_index().sort_index(axis=1)  # Sort the index (county) and column names 
inc_df = inc_df.rename(index={'St Croix': 'St.Croix'})
print(inc_df)

           Apr-20  Apr-21  Apr-22  Aug-20  Aug-21  Aug-22  Dec-20  Dec-21  \
Adams           5      91      31      45     189     147     310     328
Ashland         2      63      39      22      64      78     351     316
Barron          6     198     178     151     347     460     880    1013
Bayfield        3      73      89      26      83     102     247     255
Brown        1086    1097     961    1474    2100    2892    4534    7681
...           ...     ...     ...     ...     ...     ...     ...     ...
Waukesha      350    1811    2134    2170    3707    2877    8965   10007
Waupaca         9     152      92     342     382     371     608    1043
Waushara        2      50      76      58     139     191     236     491
Winnebago      52     663     850     532    1283    1794    2611    4504
Wood            0     227     289     250     593     802    1543    2311

           Dec-22  Feb-20  ...  May-22  Nov-20  Nov-21  Nov-22  Oct-20  \
Adams         112       0  ...     159     497     274      86     339
Ashland        46       0  ...     121     373     234      53     171
Barron        213       0  ...     289    2356    1040     179     793
Bayfield       64       0  ...     206     402     307      58     149
Brown        1665       0  ...    2470    6690    5458    1187    6702
...           ...     ...  ...     ...     ...     ...     ...     ...
Waukesha     2517       0  ...    4979   13817    6307    1966    6087
Waupaca       194       0  ...     370    1302    1032     218    1585
Waushara       89       0  ...     173     714     342     115     700
Winnebago    1013       0  ...    1747    4559    3239     902    5442
Wood          411       0  ...     797    2425    1840     341    1121

           Oct-21  Oct-22  Sep-20  Sep-21  Sep-22
Adams         276     128     151     324     103
Ashland       146      72      91     235      92
Barron        893     244     121    1194     207
Bayfield      183      83      70     139      59
Brown        4617    1273    4173    3713    2023
...           ...     ...     ...     ...     ...
Waukesha     4485    2018    2202    4779    1802
Waupaca       920     315     491     840     299
Waushara      543     121     229     468     126
Winnebago    2265    1130    2625    2562     998
Wood         1156     467     418    1237     555

[72 rows x 38 columns]

In [275]:
# Add columns m1_urb_rur and m2_urb_rur for "urban", "rural" by the new urban rural definition using the lists above
# to the inc_df dataframe

inc_df['m1_urb_rur'] = inc_df.index.map(lambda county: 'urban' if county in m1_urban else 'rural')

inc_df['m2_urb_rur'] = inc_df.index.map(lambda county: 'urban' if county in m2_urban else 'rural')
print(inc_df)

           Apr-20  Apr-21  Apr-22  Aug-20  Aug-21  Aug-22  Dec-20  Dec-21  \
Adams           5      91      31      45     189     147     310     328
Ashland         2      63      39      22      64      78     351     316
Barron          6     198     178     151     347     460     880    1013
Bayfield        3      73      89      26      83     102     247     255
Brown        1086    1097     961    1474    2100    2892    4534    7681
...           ...     ...     ...     ...     ...     ...     ...     ...
Waukesha      350    1811    2134    2170    3707    2877    8965   10007
Waupaca         9     152      92     342     382     371     608    1043
Waushara        2      50      76      58     139     191     236     491
Winnebago      52     663     850     532    1283    1794    2611    4504
Wood            0     227     289     250     593     802    1543    2311

           Dec-22  Feb-20  ...  Nov-21  Nov-22  Oct-20  Oct-21  Oct-22  \
Adams         112       0  ...     274      86     339     276     128
Ashland        46       0  ...     234      53     171     146      72
Barron        213       0  ...    1040     179     793     893     244
Bayfield       64       0  ...     307      58     149     183      83
Brown        1665       0  ...    5458    1187    6702    4617    1273
...           ...     ...  ...     ...     ...     ...     ...     ...
Waukesha     2517       0  ...    6307    1966    6087    4485    2018
Waupaca       194       0  ...    1032     218    1585     920     315
Waushara       89       0  ...     342     115     700     543     121
Winnebago    1013       0  ...    3239     902    5442    2265    1130
Wood          411       0  ...    1840     341    1121    1156     467

           Sep-20  Sep-21  Sep-22  m1_urb_rur  m2_urb_rur
Adams         151     324     103       rural       rural
Ashland        91     235      92       rural       rural
Barron        121    1194     207       rural       rural
Bayfield       70     139      59       rural       rural
Brown        4173    3713    2023       urban       urban
...           ...     ...     ...         ...         ...
Waukesha     2202    4779    1802       urban       urban
Waupaca       491     840     299       rural       rural
Waushara      229     468     126       rural       rural
Winnebago    2625    2562     998       urban       rural
Wood          418    1237     555       rural       rural

[72 rows x 40 columns]

In [276]:
# Create a new DataFrame from the old df with desired columns to plot
newinc_df = pd.DataFrame(columns=["date", "m1urban_posnewcp", "m1rural_posnewcp", "m2urban_posnewcp", "m2rural_posnewcp"])


# iterate over columns to add up the counts for urban and rural and populate the new df
for column in inc_df.columns:

    m1urban_posnewcp = inc_df[inc_df["m1_urb_rur"] == "urban"][column].sum()
    m1rural_posnewcp = inc_df[inc_df["m1_urb_rur"] == "rural"][column].sum()
    m2urban_posnewcp = inc_df[inc_df["m2_urb_rur"] == "urban"][column].sum()
    m2rural_posnewcp = inc_df[inc_df["m2_urb_rur"] == "rural"][column].sum()
    newinc_df.loc[column] = [column, m1urban_posnewcp,  m1rural_posnewcp,  m2urban_posnewcp, m2rural_posnewcp]
    

# reset the index and rename the index column to "Date"
newinc_df = newinc_df.reset_index().rename(columns={"index": "date"})

#remove the duplicate "Date" column
newinc_df = newinc_df.loc[:, ~newinc_df.columns.duplicated()]

# drop the urban_rural row which consists of strings summed as a result of the above iteration
newinc_df = newinc_df.drop([38])
newinc_df = newinc_df.drop([39])
print(newinc_df)

      date m1urban_posnewcp m1rural_posnewcp m2urban_posnewcp m2rural_posnewcp
0   Apr-20             5753              573             4842             1484
1   Apr-21            18803             6317            12763            12357
2   Apr-22            23265             5427            17167            11525
3   Aug-20            18080             5471            12952            10599
4   Aug-21            34840            10939            23648            22131
5   Aug-22            37132            14156            24633            26655
6   Dec-20            77513            29819            51945            55387
7   Dec-21           112758            36261            75932            73087
8   Dec-22            27102             8398            18721            16779
9   Feb-20                1                0                1                0
10  Feb-21            18774             6649            12522            12901
11  Feb-22            39544            16740            24682            31602
12  Feb-23              612              185              433              364
13  Jan-20                0                0                0                0
14  Jan-21            53370            18903            34501            37772
15  Jan-22           296766            87716           197443           187039
16  Jan-23            16272             5386            11492            10166
17  Jul-20            20334             4570            16009             8895
18  Jul-21             8659             2001             6542             4118
19  Jul-22            41241            13742            28654            26329
20  Jun-20             9424             1507             6984             3947
21  Jun-21             2493             1027             1705             1815
22  Jun-22            40379            11899            28972            23306
23  Mar-20             1362               97             1204              255
24  Mar-21            14949             4304            10218             9035
25  Mar-22            10244             3321             6953             6612
26  May-20            11067             1289             8332             4024
27  May-21            10055             4166             6373             7848
28  May-22            51013            13157            37051            27119
29  Nov-20           121617            50641            77997            94261
30  Nov-21            62834            31613            36784            57663
31  Nov-22            20657             7939            13612            14984
32  Oct-20            76630            30951            43520            64061
33  Oct-21            49988            25736            30743            44981
34  Oct-22            22817             8521            14813            16525
35  Sep-20            35589            12337            20740            27186
36  Sep-21            52010            24154            33182            42982
37  Sep-22            25247             9142            17247            17142

In [277]:
# Divide new cases by the population per 10000 people and store the results in a new column 
newinc_df['incidence_m1urb'] =  (newinc_df['m1urban_posnewcp'] / m1_urban_pop)* 10000
newinc_df['incidence_m1rur'] =  (newinc_df['m1rural_posnewcp'] /m1_rural_pop)* 10000
newinc_df['incidence_m2urb'] = (newinc_df['m2urban_posnewcp'] /m2_urban_pop)* 10000
newinc_df['incidence_m2rur'] = (newinc_df['m2rural_posnewcp']/m2_rural_pop)*10000
print(newinc_df)

      date m1urban_posnewcp m1rural_posnewcp m2urban_posnewcp  \
0   Apr-20             5753              573             4842
1   Apr-21            18803             6317            12763
2   Apr-22            23265             5427            17167
3   Aug-20            18080             5471            12952
4   Aug-21            34840            10939            23648
5   Aug-22            37132            14156            24633
6   Dec-20            77513            29819            51945
7   Dec-21           112758            36261            75932
8   Dec-22            27102             8398            18721
9   Feb-20                1                0                1
10  Feb-21            18774             6649            12522
11  Feb-22            39544            16740            24682
12  Feb-23              612              185              433
13  Jan-20                0                0                0
14  Jan-21            53370            18903            34501
15  Jan-22           296766            87716           197443
16  Jan-23            16272             5386            11492
17  Jul-20            20334             4570            16009
18  Jul-21             8659             2001             6542
19  Jul-22            41241            13742            28654
20  Jun-20             9424             1507             6984
21  Jun-21             2493             1027             1705
22  Jun-22            40379            11899            28972
23  Mar-20             1362               97             1204
24  Mar-21            14949             4304            10218
25  Mar-22            10244             3321             6953
26  May-20            11067             1289             8332
27  May-21            10055             4166             6373
28  May-22            51013            13157            37051
29  Nov-20           121617            50641            77997
30  Nov-21            62834            31613            36784
31  Nov-22            20657             7939            13612
32  Oct-20            76630            30951            43520
33  Oct-21            49988            25736            30743
34  Oct-22            22817             8521            14813
35  Sep-20            35589            12337            20740
36  Sep-21            52010            24154            33182
37  Sep-22            25247             9142            17247

   m2rural_posnewcp incidence_m1urb incidence_m1rur incidence_m2urb  \
0              1484       13.182008        3.740236       16.500795
1             12357       43.083834       41.233978       43.494352
2             11525       53.307738       35.424536        58.50251
3             10599       41.427204       35.711745       44.138435
4             22131       79.829855       71.403907       80.588767
5             26655       85.081578       92.402752       83.945496
6             55387       177.60768       194.64239      177.020615
7             73087      258.365523        236.6923      258.764642
8             16779       62.099562       54.817626       63.798305
9                 0        0.002291             0.0        0.003408
10            12901       43.017385       43.401095       42.673061
11            31602        90.60826      109.269714       84.112481
12              364        1.402293         1.20758        1.475598
13                0             0.0             0.0             0.0
14            37772      122.288156      123.388614      117.574131
15           187039       679.98814      572.562858      672.855544
16            10166       37.284483        35.15691       39.162978
17             8895       46.591856       29.830501       54.556223
18             4118       19.840606       13.061451       22.294135
19            26329       94.496643       89.700383       97.648449
20             3947       21.593472        9.836885       23.800404
21             1815         5.71228        6.703703        5.810379
22            23306       92.521519        77.67027       98.732145
23              255        3.120788        0.633164        4.103048
24             9035       34.253057       28.094196       34.821381
25             6612        23.47236       21.677701       23.694761
26             4024       25.358123        8.413899       28.394182
27             7848       23.039299       27.193407       21.718209
28            27119      116.887497       85.881818      126.264141
29            94261      278.664394      330.557204      265.801846
30            57663      143.973281      206.352657      125.354246
31            14984       47.331955       51.821521       46.387614
32            64061      175.584437      202.031477      148.309503
33            44981      114.538886      167.990762      104.767442
34            16525       52.281223       55.620504       50.480438
35            27186        81.54606       80.529299       70.678748
36            42982      119.171951      157.664317      113.079181
37            17142       57.849149       59.674058       58.775138

   incidence_m2rur
0         5.010353
1        41.720307
2        38.911268
3        35.784861
4        74.719763
5        89.993913
6       187.000294
7       246.759898
8        56.650079
9              0.0
10       43.556986
11      106.696216
12        1.228955
13             0.0
14      127.527671
15      631.490205
16       34.322946
17       30.031733
18       13.903393
19       88.893256
20       13.326054
21        6.127892
22       78.686855
23        0.860943
24       30.504408
25       22.323757
26       13.586025
27       26.496801
28       91.560492
29      318.248591
30      194.684636
31       50.589713
32      216.285876
33      151.867049
34       55.792512
35       91.786701
36      145.117927
37       57.875657

In [278]:
newinc_df.to_csv('/Users/mavoeg/Desktop/SARS/Wisconsin/WI_Data_Counties/VaxData/Vax_frompy/check_calcs2.csv', index=True, header=True)

In [221]:
# count the number of sequences available using the GISAID dataset

input_file = '/Users/mavoeg/computational_folder/gh_folder/ncov/data/clean_ready_for_nextstrain/nextstrain_may_2023/06_01_2023urbrur_hilomid.tsv' # Gisaid dataset
#input_file = '/Users/mavoeg/Desktop/SARS/Wisconsin/WI_Data_Counties/genbank/2023-06-30-CDC_Contract_Seq_NoNAs.csv' # CDC dataset
output_dict = {}
with open(input_file, "r") as infile:
    tsv_reader = csv.reader(infile, delimiter='\t')  # Use csv.reader with tab delimiter
    for line in tsv_reader:

        if "Accession ID" in line:
            pass
        else:
            collection_date = line[4]  # Access the column by index 
            location = line[8]

            if len(location.split("/")) == 0:
                county = "unknown"
            else:
                counties = location.split("County")
                county = counties[0].strip()  # Extract the first element from the list
                county = county.replace(" ", "_") #+ "_County"  # Format county name with spaces

            date_parts = collection_date.split("-")

            if len(date_parts) >= 2:
                year = int(date_parts[0])
                month = int(date_parts[1])
                month_abbr = calendar.month_abbr[month]
                    
                
                year_month =  month_abbr + '-' + str(year) 

                if '0 County' in location:
                    pass
                else:
                    # Make the dictionary
                    if county not in output_dict:
                        output_dict[county] = {}
                    if year_month not in output_dict[county]:
                        output_dict[county][year_month] = 1
                    else:
                        output_dict[county][year_month] += 1

                        
                        

seq_df = pd.DataFrame.from_dict(output_dict, orient="index") # make a df from the dictionary
seq_df = seq_df.sort_index().sort_index(axis=1)  # Sort the index (county) and column names 


# Fill NaN values with 0
seq_df = seq_df.fillna(0)
print(seq_df)

# to create series visualizations (using all counties) uncomment the line below
# df.to_csv('/Users/mavoeg/Desktop/SARS/Wisconsin/WI_Data_Counties/input_files/sequence_counts/SERIES_urb-rur_CDC_2023-07-17.csv', header=True, index=True)

           Apr-2020  Apr-2021  Apr-2022  Aug-2020  Aug-2021  Aug-2022  \
Adams           0.0      10.0       0.0       2.0      10.0       1.0
Ashland         0.0       3.0       0.0       0.0       2.0       3.0
Barron          0.0      16.0      14.0       0.0      46.0       3.0
Bayfield        0.0       3.0       2.0       0.0       3.0       0.0
Brown          93.0     330.0       1.0       3.0      64.0       5.0
...             ...       ...       ...       ...       ...       ...
Waukesha        9.0      46.0      68.0       1.0     105.0     104.0
Waupaca         0.0       1.0       1.0       0.0       5.0       3.0
Waushara        0.0       0.0       1.0       0.0       3.0       0.0
Winnebago       4.0      42.0      12.0       0.0      16.0      23.0
Wood            0.0       9.0      63.0       0.0      47.0       8.0

           Dec-2020  Dec-2021  Dec-2022  Feb-2021  ...  May-2022  Nov-2020  \
Adams           3.0       8.0       0.0       3.0  ...       3.0       2.0
Ashland         4.0       1.0       2.0       3.0  ...       1.0       1.0
Barron         10.0       2.0      33.0       0.0  ...      22.0       0.0
Bayfield        5.0       4.0       0.0       0.0  ...       2.0       0.0
Brown           2.0      21.0       1.0      38.0  ...       8.0       1.0
...             ...       ...       ...       ...  ...       ...       ...
Waukesha        2.0      35.0      50.0      55.0  ...     176.0       1.0
Waupaca         0.0      11.0       1.0       1.0  ...       5.0       0.0
Waushara        0.0       1.0       1.0       0.0  ...       2.0       0.0
Winnebago      17.0      21.0       0.0      34.0  ...      50.0      50.0
Wood            7.0      23.0      35.0      22.0  ...      52.0       3.0

           Nov-2021  Nov-2022  Oct-2020  Oct-2021  Oct-2022  Sep-2020  \
Adams           3.0       0.0       4.0       4.0       0.0       1.0
Ashland         1.0       3.0       6.0       6.0       6.0       6.0
Barron          7.0      15.0       5.0      16.0      23.0       8.0
Bayfield        2.0       0.0       0.0       2.0       1.0       0.0
Brown           3.0       0.0      33.0      35.0       5.0       3.0
...             ...       ...       ...       ...       ...       ...
Waukesha       45.0      90.0       0.0       8.0      43.0       5.0
Waupaca         7.0       0.0       3.0       8.0       2.0       0.0
Waushara        0.0       0.0       1.0       7.0       0.0       1.0
Winnebago       5.0       0.0      66.0       4.0      19.0       9.0
Wood           21.0      30.0       1.0      33.0      26.0       1.0

           Sep-2021  Sep-2022
Adams          12.0       0.0
Ashland         4.0       1.0
Barron         37.0       5.0
Bayfield        1.0       2.0
Brown          68.0       4.0
...             ...       ...
Waukesha       27.0      47.0
Waupaca         8.0       0.0
Waushara        6.0       0.0
Winnebago      21.0       4.0
Wood           32.0       3.0

[72 rows x 36 columns]

In [222]:
# Add columns m1_urb_rur and m2_urb_rur "urban", "rural" by the new urban rural definition using the lists above
seq_df['m1_urb_rur'] = seq_df.index.map(lambda county: 'urban' if county in m1_urban else 'rural')

seq_df['m2_urb_rur'] = seq_df.index.map(lambda county: 'urban' if county in m2_urban else 'rural')


print(seq_df)

           Apr-2020  Apr-2021  Apr-2022  Aug-2020  Aug-2021  Aug-2022  \
Adams           0.0      10.0       0.0       2.0      10.0       1.0
Ashland         0.0       3.0       0.0       0.0       2.0       3.0
Barron          0.0      16.0      14.0       0.0      46.0       3.0
Bayfield        0.0       3.0       2.0       0.0       3.0       0.0
Brown          93.0     330.0       1.0       3.0      64.0       5.0
...             ...       ...       ...       ...       ...       ...
Waukesha        9.0      46.0      68.0       1.0     105.0     104.0
Waupaca         0.0       1.0       1.0       0.0       5.0       3.0
Waushara        0.0       0.0       1.0       0.0       3.0       0.0
Winnebago       4.0      42.0      12.0       0.0      16.0      23.0
Wood            0.0       9.0      63.0       0.0      47.0       8.0

           Dec-2020  Dec-2021  Dec-2022  Feb-2021  ...  Nov-2021  Nov-2022  \
Adams           3.0       8.0       0.0       3.0  ...       3.0       0.0
Ashland         4.0       1.0       2.0       3.0  ...       1.0       3.0
Barron         10.0       2.0      33.0       0.0  ...       7.0      15.0
Bayfield        5.0       4.0       0.0       0.0  ...       2.0       0.0
Brown           2.0      21.0       1.0      38.0  ...       3.0       0.0
...             ...       ...       ...       ...  ...       ...       ...
Waukesha        2.0      35.0      50.0      55.0  ...      45.0      90.0
Waupaca         0.0      11.0       1.0       1.0  ...       7.0       0.0
Waushara        0.0       1.0       1.0       0.0  ...       0.0       0.0
Winnebago      17.0      21.0       0.0      34.0  ...       5.0       0.0
Wood            7.0      23.0      35.0      22.0  ...      21.0      30.0

           Oct-2020  Oct-2021  Oct-2022  Sep-2020  Sep-2021  Sep-2022  \
Adams           4.0       4.0       0.0       1.0      12.0       0.0
Ashland         6.0       6.0       6.0       6.0       4.0       1.0
Barron          5.0      16.0      23.0       8.0      37.0       5.0
Bayfield        0.0       2.0       1.0       0.0       1.0       2.0
Brown          33.0      35.0       5.0       3.0      68.0       4.0
...             ...       ...       ...       ...       ...       ...
Waukesha        0.0       8.0      43.0       5.0      27.0      47.0
Waupaca         3.0       8.0       2.0       0.0       8.0       0.0
Waushara        1.0       7.0       0.0       1.0       6.0       0.0
Winnebago      66.0       4.0      19.0       9.0      21.0       4.0
Wood            1.0      33.0      26.0       1.0      32.0       3.0

           m1_urb_rur  m2_urb_rur
Adams           rural       rural
Ashland         rural       rural
Barron          rural       rural
Bayfield        rural       rural
Brown           urban       urban
...               ...         ...
Waukesha        urban       urban
Waupaca         rural       rural
Waushara        rural       rural
Winnebago       urban       rural
Wood            rural       rural

[72 rows x 38 columns]

In [ ]:
# Create a new DataFrame from the old df with desired columns to plot
newseq_df = pd.DataFrame(columns=["date", "m1_urban", "m1_rural", "m2_urban", "m2_rural"])

# iterate over columns to add up the counts for urban and rural and populate the new df
for column in seq_df.columns:
    
    m1urban_sum = seq_df[seq_df["m1_urb_rur"] == "urban"][column].sum()
    m1rural_sum = seq_df[seq_df["m1_urb_rur"] == "rural"][column].sum()
    m2urban_sum = seq_df[seq_df["m2_urb_rur"] == "urban"][column].sum()
    m2rural_sum = seq_df[seq_df["m2_urb_rur"] == "rural"][column].sum()
    newseq_df.loc[column] = [column, m1urban_sum, m1rural_sum, m2urban_sum, m2rural_sum]

# reset the index and rename the index column to "Date"
newseq_df = new_df.reset_index().rename(columns={"index": "date"})

#remove the duplicate "Date" column
newseq_df = newseq_df.loc[:, ~new_df.columns.duplicated()]

# drop the urban_rural row which consists of strings summed as a result of the above iteration
newseq_df = newseq_df.drop([30])
newseq_df = newseq_df.drop([31])