In [2]:
import pandas as pd

# Read in the TSV file
df = pd.read_csv("greater_5k.tsv", sep="\t")

# Define a function to assign age bins
def assign_age_bin(age):
    if pd.isna(age):
        return None
    if str(age) == "0-17":
        return "0-17"
    try:
        age = float(age)
        if 18 <= age <= 25:
            return "18-25"
        elif 26 <= age <= 40:
            return "26-40"
        elif 41 <= age <= 65:
            return "41-65"
        elif age >= 66:
            return "66-100"
    except ValueError:
        return None

# Apply the binning function
df["age_bins"] = df["age"].apply(assign_age_bin)

# Save the updated DataFrame back to the TSV file
df.to_csv("greater_5k.tsv", sep="\t", index=False)

print("✅ Age bins assigned and file saved successfully.")

✅ Age bins assigned and file saved successfully.

In [3]:
import pandas as pd

# Read in the TSV file
df = pd.read_csv("greater_5k.tsv", sep="\t")

# Define a function to assign age bins
def assign_urban_rural_combined(Urban_or_Rural_USDA_Classification):
    if pd.isna(Urban_or_Rural_USDA_Classification):
        return None
    if str(Urban_or_Rural_USDA_Classification) == "Urban":
        return "urban-greater-MN"
    if str(Urban_or_Rural_USDA_Classification) == "Rural":
        return "rural-greater-MN"

# Apply the binning function
df["urban_rural_combined"] = df["Urban_or_Rural_USDA_Classification"].apply(assign_urban_rural_combined)

# Save the updated DataFrame back to the TSV file
df.to_csv("greater_5k.tsv", sep="\t", index=False)

print("✅ Classification assigned and file saved successfully.")

✅ Classification assigned and file saved successfully.

In [4]:
import pandas as pd

# Read in both TSV files
df2 = pd.read_csv("greater_5k.tsv", sep="\t")
df1 = pd.read_csv("11_12_moreTC_mcleod_combined.tsv", sep="\t")

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13166 entries, 0 to 13165
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   strain                                      13166 non-null  object
 1   gisaid_id                                   13165 non-null  object
 2   genbank_id                                  10023 non-null  object
 3   date                                        13166 non-null  object
 4   adi_natrank                                 13166 non-null  object
 5   adi_staternk                                13166 non-null  object
 6   county                                      13166 non-null  object
 7   race                                        13166 non-null  object
 8   raceeth                                     13166 non-null  object
 9   hispanic                                    13166 non-null  object
 10  gender                                      13166 non-null  object
 11  time_since                                  13166 non-null  object
 12  vbt_vax_count                               13166 non-null  object
 13  age                                         13166 non-null  object
 14  age_bins                                    13166 non-null  object
 15  Assigned_or_Unassigned_USDA_Classification  13166 non-null  object
 16  Primary_RUCA_Code_2010                      13166 non-null  object
 17  Urban_or_Rural_USDA_Classification          13166 non-null  object
 18  UrbanThreshold                              13166 non-null  object
 19  RuralThreshold                              13166 non-null  object
 20  Urban_or_Rural_Census_Classification        13166 non-null  object
 21  Collection_dt                               13166 non-null  object
 22  Lineage                                     13166 non-null  object
 23  Clade                                       12797 non-null  object
 24  AA_Substitutions                            12797 non-null  object
 25  local_status                                13166 non-null  object
 26  nearby                                      13166 non-null  object
 27  mcleod_status                               13166 non-null  object
 28  urban_rural_combined                        13166 non-null  object
 29  TC_status                                   13166 non-null  object
dtypes: object(30)
memory usage: 3.0+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   strain                                      5000 non-null   object
 1   gisaid_id                                   4998 non-null   object
 2   genbank_id                                  2755 non-null   object
 3   date                                        5000 non-null   object
 4   adi_natrank                                 5000 non-null   object
 5   adi_staternk                                5000 non-null   object
 6   county                                      5000 non-null   object
 7   race                                        5000 non-null   float64
 8   raceeth                                     5000 non-null   float64
 9   hispanic                                    5000 non-null   float64
 10  gender                                      5000 non-null   object
 11  time_since                                  5000 non-null   float64
 12  vbt_vax_count                               5000 non-null   float64
 13  age                                         5000 non-null   object
 14  age_bins                                    5000 non-null   object
 15  Assigned_or_Unassigned_USDA_Classification  5000 non-null   object
 16  Primary_RUCA_Code_2010                      5000 non-null   int64
 17  Urban_or_Rural_USDA_Classification          5000 non-null   object
 18  UrbanThreshold                              5000 non-null   float64
 19  RuralThreshold                              5000 non-null   float64
 20  Urban_or_Rural_Census_Classification        5000 non-null   object
 21  Collection_dt                               5000 non-null   object
 22  Lineage                                     5000 non-null   object
 23  Clade                                       4796 non-null   object
 24  AA_Substitutions                            4796 non-null   object
 25  local_status                                5000 non-null   object
 26  nearby                                      5000 non-null   object
 27  mcleod_status                               5000 non-null   object
 28  urban_rural_combined                        5000 non-null   object
 29  TC_status                                   5000 non-null   object
dtypes: float64(7), int64(1), object(22)
memory usage: 1.1+ MB

In [7]:
combined = pd.concat([df2, df1], ignore_index=True)

In [8]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18166 entries, 0 to 18165
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   strain                                      18166 non-null  object
 1   gisaid_id                                   18163 non-null  object
 2   genbank_id                                  12778 non-null  object
 3   date                                        18166 non-null  object
 4   adi_natrank                                 18166 non-null  object
 5   adi_staternk                                18166 non-null  object
 6   county                                      18166 non-null  object
 7   race                                        18166 non-null  object
 8   raceeth                                     18166 non-null  object
 9   hispanic                                    18166 non-null  object
 10  gender                                      18166 non-null  object
 11  time_since                                  18166 non-null  object
 12  vbt_vax_count                               18166 non-null  object
 13  age                                         18166 non-null  object
 14  age_bins                                    18166 non-null  object
 15  Assigned_or_Unassigned_USDA_Classification  18166 non-null  object
 16  Primary_RUCA_Code_2010                      18166 non-null  object
 17  Urban_or_Rural_USDA_Classification          18166 non-null  object
 18  UrbanThreshold                              18166 non-null  object
 19  RuralThreshold                              18166 non-null  object
 20  Urban_or_Rural_Census_Classification        18166 non-null  object
 21  Collection_dt                               18166 non-null  object
 22  Lineage                                     18166 non-null  object
 23  Clade                                       17593 non-null  object
 24  AA_Substitutions                            17593 non-null  object
 25  local_status                                18166 non-null  object
 26  nearby                                      18166 non-null  object
 27  mcleod_status                               18166 non-null  object
 28  urban_rural_combined                        18166 non-null  object
 29  TC_status                                   18166 non-null  object
dtypes: object(30)
memory usage: 4.2+ MB

In [9]:
combined_deduped = combined.drop_duplicates(subset=['strain'])
combined_deduped.head()

,strain,gisaid_id,genbank_id,date,adi_natrank,adi_staternk,county,race,raceeth,hispanic,...,Urban_or_Rural_Census_Classification,Collection_dt,Lineage,Clade,AA_Substitutions,local_status,nearby,mcleod_status,urban_rural_combined,TC_status
0,hCoV-19/USA/MN-CDC-IBX547742850845/2021,EPI_ISL_5560885,NaN,2021-10-07,57,7,Anoka County,1.0,1.0,2.0,...,Urban,2021-10-07,AY.103,GK,"(N_G215C,NSP12_M110V,N_D63G,N_R203M,NSP12_G671...",Minnesota,Minnesota,greater-MN,urban-greater-MN,greater-MN
1,hCoV-19/USA/MN-MDH-26516/2022,EPI_ISL_13395219,ON809077,2022-06-03,43,5,Stearns County,1.0,1.0,2.0,...,Rural,2022-06-03,BA.2,GRA,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",Minnesota,Minnesota,greater-MN,rural-greater-MN,greater-MN
2,hCoV-19/USA/MN-MDH-25099/2022,EPI_ISL_12905876,ON602170,2022-05-04,18,1,Washington County,1.0,1.0,2.0,...,Urban,2022-05-05,BA.2,GRA,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",Minnesota,Minnesota,greater-MN,urban-greater-MN,greater-MN
3,hCoV-19/USA/MN-MDH-39451/2023,EPI_ISL_18746868,PP108218,2023-12-25,89,10,Stearns County,1.0,1.0,2.0,...,Urban,2023-12-25,JN.1,GRA,"(NSP5_P132H,Spike_H69del,NSP3_G489S,Spike_L24d...",Minnesota,Minnesota,greater-MN,urban-greater-MN,greater-MN
4,hCoV-19/USA/MN-CDC-IBX217352684895/2021,EPI_ISL_1694090,MZ013448,2021-03-30,65,8,Stearns County,1.0,1.0,2.0,...,Urban,2021-03-31,B.1.1.7,GRY,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",Minnesota,Minnesota,greater-MN,urban-greater-MN,greater-MN

In [10]:
combined_deduped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17989 entries, 0 to 18165
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   strain                                      17989 non-null  object
 1   gisaid_id                                   17986 non-null  object
 2   genbank_id                                  12679 non-null  object
 3   date                                        17989 non-null  object
 4   adi_natrank                                 17989 non-null  object
 5   adi_staternk                                17989 non-null  object
 6   county                                      17989 non-null  object
 7   race                                        17989 non-null  object
 8   raceeth                                     17989 non-null  object
 9   hispanic                                    17989 non-null  object
 10  gender                                      17989 non-null  object
 11  time_since                                  17989 non-null  object
 12  vbt_vax_count                               17989 non-null  object
 13  age                                         17989 non-null  object
 14  age_bins                                    17989 non-null  object
 15  Assigned_or_Unassigned_USDA_Classification  17989 non-null  object
 16  Primary_RUCA_Code_2010                      17989 non-null  object
 17  Urban_or_Rural_USDA_Classification          17989 non-null  object
 18  UrbanThreshold                              17989 non-null  object
 19  RuralThreshold                              17989 non-null  object
 20  Urban_or_Rural_Census_Classification        17989 non-null  object
 21  Collection_dt                               17989 non-null  object
 22  Lineage                                     17989 non-null  object
 23  Clade                                       17420 non-null  object
 24  AA_Substitutions                            17420 non-null  object
 25  local_status                                17989 non-null  object
 26  nearby                                      17989 non-null  object
 27  mcleod_status                               17989 non-null  object
 28  urban_rural_combined                        17989 non-null  object
 29  TC_status                                   17989 non-null  object
dtypes: object(30)
memory usage: 4.3+ MB

In [11]:
# Save the updated DataFrame back to the TSV file
combined_deduped.to_csv("greater_5k.tsv", sep="\t", index=False)